swagger: '2.0'
info:
  version: 2022-09-16-preview
  title: DeveloperHubServiceClient
  description: The AKS Developer Hub Service Client
host: management.azure.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
security:
  - azure_auth:
      - user_impersonation
securityDefinitions:
  azure_auth:
    type: oauth2
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    flow: implicit
    description: Azure Active Directory OAuth2 Flow
    scopes:
      user_impersonation: impersonate your user account
paths:
  /providers/Microsoft.DevHub/operations:
    get:
      tags:
        - Operations
      operationId: Operations_List
      description: Returns list of operations.
      summary: Gets a list of operations.
      parameters:
        - name: api-version
          in: query
          required: true
          type: string
          description: The API version to use for this operation.
          minLength: 1
      responses:
        '200':
          description: Operation details.
          schema:
            description: A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.
            type: object
            properties:
              value:
                type: array
                items:
                  title: REST API Operation
                  description: 'Details of a REST API operation, returned from the Resource Provider Operations API'
                  type: object
                  properties:
                    name:
                      description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
                      type: string
                      readOnly: true
                    isDataAction:
                      description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
                      type: boolean
                      readOnly: true
                    display:
                      description: Localized display information for this particular operation.
                      type: object
                      properties:
                        provider:
                          description: 'The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".'
                          type: string
                          readOnly: true
                        resource:
                          description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
                          type: string
                          readOnly: true
                        operation:
                          description: 'The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".'
                          type: string
                          readOnly: true
                        description:
                          description: 'The short, localized friendly description of the operation; suitable for tool tips and detailed views.'
                          type: string
                          readOnly: true
                    origin:
                      description: 'The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system"'
                      type: string
                      readOnly: true
                      enum:
                        - user
                        - system
                        - 'user,system'
                      x-ms-enum:
                        name: Origin
                        modelAsString: true
                    actionType:
                      description: Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
                      type: string
                      readOnly: true
                      enum:
                        - Internal
                      x-ms-enum:
                        name: ActionType
                        modelAsString: true
                x-ms-identifiers:
                  - name
                description: List of operations supported by the resource provider
                readOnly: true
              nextLink:
                type: string
                description: URL to get the next set of operation list results (if there are any).
                readOnly: true
        default:
          description: Error response describing why the operation failed.
          schema:
            title: Error response
            description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
            type: object
            properties:
              error:
                description: The error object.
                $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema/properties/error/properties/details/items'
      deprecated: false
      x-ms-examples:
        List available operations for the container service resource provider:
          parameters:
            api-version: 2022-10-11-preview
          responses:
            '200':
              body:
                value:
                  - name: Microsoft.DevHub/workflows/read
                    display:
                      provider: Microsoft Developer Hub
                      resource: Workflows
                      operation: Get workflow
                      description: Gets workflow
                nextLink: null
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/githuboauth/default/getGitHubOAuthInfo':
    post:
      tags:
        - GitHubOAuth
      operationId: GitHubOAuth
      summary: Gets GitHubOAuth info used to authenticate users with the Developer Hub GitHub App.
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/1'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1locations~1%7Blocation%7D~1githuboauth/get/parameters/2'
        - name: parameters
          required: false
          in: body
          schema:
            $ref: '#/definitions/GitHubOAuthCallRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GitHubOAuthInfoResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-examples:
        GitHub OAuth:
          parameters:
            subscriptionId: subscriptionId1
            location: eastus2euap
            api-version: 2022-10-11-preview
            parameters:
              redirectUrl: 'https://ms.portal.azure.com/aks'
          responses:
            '200':
              body:
                authURL: 'https://github.com/login/oauth/authorize?client_id=11111111&redirect_uri=https://management.azure.com/subscriptions/subscriptionId1/providers/Microsoft.DevHub/locations/eastus2euap/githuboauth&state=2345678-3456-7890-5678-012345678901&scope=repo,user:email,workflow'
                token: ''
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/githuboauth/default':
    get:
      tags:
        - GitHubOAuth
      operationId: GitHubOAuthCallback
      summary: Callback URL to hit once authenticated with GitHub App to have the service store the OAuth token.
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/1'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1locations~1%7Blocation%7D~1githuboauth/get/parameters/2'
        - $ref: '#/parameters/GitHubOAuthCodeParameter'
        - $ref: '#/parameters/GitHubOAuthStateParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GitHubOAuthResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-examples:
        GitHub OAuth Callback:
          parameters:
            subscriptionId: subscriptionId1
            location: eastus2euap
            api-version: 2022-10-11-preview
            code: 3584d83530557fdd1f46af8289938c8ef79f9dc5
            state: 12345678-3456-7890-5678-012345678901
          responses:
            '200':
              body:
                id: /subscriptions/subscriptionId1/providers/Microsoft.DevHub/locations/eastus2euap/githuboauth/default
                type: Microsoft.DevHub/locations/githuboauth
                name: default
                properties:
                  username: user
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/githuboauth':
    get:
      tags:
        - GitHubOAuth
      operationId: ListGitHubOAuth
      summary: Callback URL to hit once authenticated with GitHub App to have the service store the OAuth token.
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/1'
        - name: location
          in: path
          required: true
          type: string
          description: The name of Azure region.
          minLength: 1
          x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GitHubOAuthListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-examples:
        List GitHub OAuth:
          parameters:
            subscriptionId: subscriptionId1
            location: eastus2euap
            api-version: 2022-10-11-preview
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subscriptionId1/providers/Microsoft.DevHub/locations/eastus2euap/githuboauth/default
                    type: Microsoft.DevHub/locations/githuboauth
                    name: default
                    properties:
                      username: user
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/workflows':
    get:
      tags:
        - Workflow
      operationId: Workflow_List
      summary: Gets a list of workflows associated with the specified subscription.
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - name: subscriptionId
          in: path
          required: true
          type: string
          description: The ID of the target subscription.
          minLength: 1
      responses:
        '200':
          description: Describe the result of a successful operation.
          schema:
            $ref: '#/definitions/WorkflowListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Workflows:
          parameters:
            api-version: 2022-10-11-preview
            subscriptionId: subscriptionId1
          responses:
            '200':
              body:
                value:
                  - id: /subscription/subscriptionId1/resourceGroups/resourceGroup1/providers/Microsoft.DevHub/workflow/workflow1
                    location: location1
                    name: workflow1
                    type: Micfosoft.DevHub/Workflow
                    tags:
                      appname: testapp
                    systemData:
                      createdBy: foo@contoso.com
                      createdByType: User
                      createdAt: '2018-04-24T16:30:55+00:00'
                      lastModifiedBy: foo@contoso.com
                      lastModifiedByType: User
                      lastModifiedAt: '2018-04-24T16:30:55+00:00'
                    properties:
                      githubWorkflowProfile:
                        repositoryOwner: owner1
                        repositoryName: repo1
                        branchName: branch1
                        dockerfile: repo1/images/Dockerfile
                        dockerBuildContext: repo1/src/
                        deploymentProperties:
                          manifestType: kube
                          overrides:
                            key1: value1
                        acr:
                          acrSubscriptionId: subscriptionId1
                          acrResourceGroup: resourceGroup1
                          acrRegistryName: registry1
                          acrRepositoryName: repo1
                        oidcCredentials:
                          azureClientId: 12345678-3456-7890-5678-012345678901
                          azureTenantId: 66666666-3456-7890-5678-012345678901
                        aksResourceId: /subscriptions/subscriptionId1/resourcegroups/resourceGroup1/providers/Microsoft.ContainerService/managedClusters/cluster1
                        prURL: 'https://github.com/User/repo1/pull/6567'
                        pullNumber: 6567
                        prStatus: submitted
                        authStatus: Authorized
                nextLink: 'https://management.azure.com:443/subscriptions/subscriptionId1/providers/Microsoft.DevHub/workflows?api-version=2018-05-05-preview&timeRange=1&$skipToken='
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevHub/workflows':
    get:
      tags:
        - Workflow
      operationId: Workflow_ListByResourceGroup
      summary: Gets a list of workflows within a resource group.
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/1'
        - name: resourceGroupName
          in: path
          required: true
          type: string
          description: The name of the resource group. The name is case insensitive.
          minLength: 1
          maxLength: 90
          x-ms-parameter-location: method
        - $ref: '#/parameters/ManagedClusterParameter'
      responses:
        '200':
          description: Describe the result of a successful operation.
          schema:
            $ref: '#/definitions/WorkflowListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Workflows:
          parameters:
            api-version: 2022-10-11-preview
            subscriptionId: subscriptionId1
            resourceGroupName: resourceGroup1
            location: location1
            managedClusterResource: /subscriptions/subscriptionId1/resourcegroups/resourceGroup1/providers/Microsoft.ContainerService/managedClusters/cluster1
          responses:
            '200':
              body:
                value:
                  - id: /subscription/subscriptionId1/resourceGroups/resourceGroup1/providers/Microsoft.DevHub/workflow/workflow1
                    location: location1
                    name: workflow1
                    type: Micfosoft.DevHub/Workflow
                    tags:
                      appname: testapp
                    systemData:
                      createdBy: foo@contoso.com
                      createdByType: User
                      createdAt: '2018-04-24T16:30:55+00:00'
                      lastModifiedBy: foo@contoso.com
                      lastModifiedByType: User
                      lastModifiedAt: '2018-04-24T16:30:55+00:00'
                    properties:
                      githubWorkflowProfile:
                        repositoryOwner: owner1
                        repositoryName: repo1
                        branchName: branch1
                        dockerfile: repo1/images/Dockerfile
                        dockerBuildContext: repo1/src/
                        deploymentProperties:
                          manifestType: kube
                          overrides:
                            key1: value1
                        acr:
                          acrSubscriptionId: subscriptionId1
                          acrResourceGroup: resourceGroup1
                          acrRegistryName: registry1
                          acrRepositoryName: repo1
                        oidcCredentials:
                          azureClientId: 12345678-3456-7890-5678-012345678901
                          azureTenantId: 66666666-3456-7890-5678-012345678901
                        aksResourceId: /subscriptions/subscriptionId1/resourcegroups/resourceGroup1/providers/Microsoft.ContainerService/managedClusters/cluster1
                        prURL: 'https://github.com/User/repo1/pull/6567'
                        pullNumber: 6567
                        prStatus: merged
                        lastWorkflowRun:
                          succeeded: true
                          workflowRunURL: 'https://github.com/User/repo1/actions/runs/1820640230'
                          lastRunAt: '2019-01-01T12:34:56.000Z'
                        authStatus: Authorized
                nextLink: 'https://management.azure.com:443/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevHub/workflows?api-version=2018-05-05-preview&timeRange=1&$skipToken=1'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevHub/workflows/{workflowName}':
    get:
      tags:
        - Workflow
      operationId: Workflow_Get
      summary: Gets a workflow.
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/1'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/2'
        - $ref: '#/parameters/WorkflowNameParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-examples:
        Get Workflow:
          parameters:
            api-version: 2022-10-11-preview
            subscriptionId: subscriptionId1
            resourceGroupName: resourceGroup1
            workflowName: workflow1
          responses:
            '200':
              body:
                id: /subscription/subscriptionId1/resourceGroups/resourceGroup1/providers/Microsoft.DevHub/workflow/workflow1
                location: location1
                name: workflow1
                type: Micfosoft.DevHub/Workflow
                tags:
                  appname: testapp
                systemData:
                  createdBy: foo@contoso.com
                  createdByType: User
                  createdAt: '2018-04-24T16:30:55+00:00'
                  lastModifiedBy: foo@contoso.com
                  lastModifiedByType: User
                  lastModifiedAt: '2018-04-24T16:30:55+00:00'
                properties:
                  githubWorkflowProfile:
                    repositoryOwner: owner1
                    repositoryName: repo1
                    branchName: branch1
                    dockerfile: repo1/images/Dockerfile
                    dockerBuildContext: repo1/src/
                    deploymentProperties:
                      manifestType: kube
                      overrides:
                        key1: value1
                    acr:
                      acrSubscriptionId: subscriptionId1
                      acrResourceGroup: resourceGroup1
                      acrRegistryName: registry1
                      acrRepositoryName: repo1
                    oidcCredentials:
                      azureClientId: 12345678-3456-7890-5678-012345678901
                      azureTenantId: 66666666-3456-7890-5678-012345678901
                    aksResourceId: /subscriptions/subscriptionId1/resourcegroups/resourceGroup1/providers/Microsoft.ContainerService/managedClusters/cluster1
                    prURL: 'https://github.com/User/repo1/pull/6567'
                    pullNumber: 6567
                    prStatus: merged
                    lastWorkflowRun:
                      succeeded: true
                      workflowRunURL: 'https://github.com/User/repo1/actions/runs/1820640230'
                      lastRunAt: '2019-01-01T12:34:56.000Z'
                    authStatus: Authorized
    put:
      tags:
        - Workflow
      operationId: Workflow_CreateOrUpdate
      summary: Creates or updates a workflow
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/1'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/2'
        - $ref: '#/parameters/WorkflowNameParameter'
        - name: parameters
          in: body
          required: true
          schema:
            $ref: '#/definitions/Workflow'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Workflow'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-examples:
        Create Workflow:
          parameters:
            api-version: 2022-10-11-preview
            subscriptionId: subscriptionId1
            resourceGroupName: resourceGroup1
            workflowName: workflow1
            parameters:
              location: location1
              tags:
                appname: testApp
              properties:
                githubWorkflowProfile:
                  repositoryOwner: owner1
                  repositoryName: repo1
                  branchName: branch1
                  dockerfile: repo1/images/Dockerfile
                  dockerBuildContext: repo1/src/
                  deploymentProperties:
                    manifestType: kube
                    kubeManifestLocations:
                      - /src/manifests/
                    overrides:
                      key1: value1
                  acr:
                    acrSubscriptionId: subscriptionId1
                    acrResourceGroup: resourceGroup1
                    acrRegistryName: registry1
                    acrRepositoryName: repo1
                  oidcCredentials:
                    azureClientId: 12345678-3456-7890-5678-012345678901
                    azureTenantId: 66666666-3456-7890-5678-012345678901
                  aksResourceId: /subscriptions/subscriptionId1/resourcegroups/resourceGroup1/providers/Microsoft.ContainerService/managedClusters/cluster1
          responses:
            '200':
              body:
                id: /subscription/subscriptionId1/resourceGroups/resourceGroup1/providers/Microsoft.DevHub/workflow/workflow1
                location: location1
                name: workflow1
                type: Micfosoft.DevHub/Workflow
                tags:
                  appname: testapp
                systemData:
                  createdBy: foo@contoso.com
                  createdByType: User
                  createdAt: '2018-04-24T16:30:55+00:00'
                  lastModifiedBy: foo@contoso.com
                  lastModifiedByType: User
                  lastModifiedAt: '2018-04-24T16:30:55+00:00'
                properties:
                  githubWorkflowProfile:
                    repositoryOwner: owner1
                    repositoryName: repo2
                    branchName: branch2
                    dockerfile: repo2/images/Dockerfile
                    dockerBuildContext: repo2/src/
                    deploymentProperties:
                      manifestType: helm
                      helmChartPath: /src/charts
                      helmValues: /src/chars/values.yaml
                      overrides:
                        key1: value1
                    acr:
                      acrSubscriptionId: subscriptionId1
                      acrResourceGroup: resourceGroup1
                      acrRegistryName: registry1
                      acrRepositoryName: repo1
                    oidcCredentials:
                      azureClientId: 12345678-3456-7890-5678-012345678901
                      azureTenantId: 66666666-3456-7890-5678-012345678901
                    aksResourceId: /subscriptions/subscriptionId1/resourcegroups/resourceGroup1/providers/Microsoft.ContainerService/managedClusters/cluster1
                    prURL: 'https://github.com/User/repo2/pull/6567'
                    pullNumber: 6567
                    prStatus: submitted
                    authStatus: Authorized
            '201':
              body:
                id: /subscription/subscriptionId1/resourceGroups/resourceGroup1/providers/Microsoft.DevHub/workflow/workflow1
                location: location1
                name: workflow1
                type: Micfosoft.DevHub/Workflow
                tags:
                  appname: testapp
                systemData:
                  createdBy: foo@contoso.com
                  createdByType: User
                  createdAt: '2018-04-24T16:30:55+00:00'
                  lastModifiedBy: foo@contoso.com
                  lastModifiedByType: User
                  lastModifiedAt: '2018-04-24T16:30:55+00:00'
                properties:
                  githubWorkflowProfile:
                    repositoryOwner: owner1
                    repositoryName: repo1
                    branchName: branch1
                    dockerfile: repo1/images/Dockerfile
                    dockerBuildContext: repo1/src/
                    deploymentProperties:
                      manifestType: kube
                      overrides:
                        key1: value1
                    acr:
                      acrSubscriptionId: subscriptionId1
                      acrResourceGroup: resourceGroup1
                      acrRegistryName: registry1
                      acrRepositoryName: repo1
                    oidcCredentials:
                      azureClientId: 12345678-3456-7890-5678-012345678901
                      azureTenantId: 66666666-3456-7890-5678-012345678901
                    aksResourceId: /subscriptions/subscriptionId1/resourcegroups/resourceGroup1/providers/Microsoft.ContainerService/managedClusters/cluster1
                    prURL: 'https://github.com/owner1/repo1/pull/6567'
                    pullNumber: 6567
                    prStatus: submitted
                    authStatus: Authorized
    delete:
      tags:
        - Workflow
      operationId: Workflow_Delete
      summary: Deletes a workflow
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/1'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/2'
        - $ref: '#/parameters/WorkflowNameParameter'
      responses:
        '200':
          description: successful delete with response
          schema:
            $ref: '#/definitions/DeleteWorkflowResponse'
        '204':
          description: Successfully deleted the resource
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-examples:
        Delete Workflow:
          parameters:
            api-version: 2022-10-11-preview
            subscriptionId: subscriptionId1
            resourceGroupName: resourceGroup1
            workflowName: workflow1
          responses:
            '200':
              body:
                status: workflow deleted successfully
            '204': {}
    patch:
      tags:
        - Workflow
      operationId: Workflow_UpdateTags
      summary: Updates tags on a workflow.
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/1'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/2'
        - $ref: '#/parameters/WorkflowNameParameter'
        - name: parameters
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagsObject'
          description: Parameters supplied to the Update Workflow Tags operation.
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-examples:
        Update Managed Cluster Tags:
          parameters:
            api-version: 2022-10-11-preview
            subscriptionId: subscriptionId1
            resourceGroupName: resourceGroup1
            workflowName: workflow1
            parameters:
              tags:
                resourceEnv: testing
                promote: 'false'
          responses:
            '200':
              body:
                id: /subscription/subscriptionId1/resourceGroups/resourceGroup1/providers/Microsoft.DevHub/workflow/workflow1
                location: location1
                name: workflow1
                type: Micfosoft.DevHub/Workflow
                tags:
                  previousValue: stillExists
                  resourceEnv: testing
                  promote: 'false'
                systemData:
                  createdBy: foo@contoso.com
                  createdByType: User
                  createdAt: '2018-04-24T16:30:55+00:00'
                  lastModifiedBy: foo@contoso.com
                  lastModifiedByType: User
                  lastModifiedAt: '2018-04-24T16:30:55+00:00'
                properties:
                  githubWorkflowProfile:
                    repositoryOwner: owner1
                    repositoryName: repo1
                    branchName: branch1
                    dockerfile: repo1/images/Dockerfile
                    dockerBuildContext: repo1/src/
                    deploymentProperties:
                      manifestType: kube
                      overrides:
                        key1: value1
                    acr:
                      acrSubscriptionId: subscriptionId1
                      acrResourceGroup: resourceGroup1
                      acrRegistryName: registry1
                      acrRepositoryName: repo1
                    oidcCredentials:
                      azureClientId: 12345678-3456-7890-5678-012345678901
                      azureTenantId: 66666666-3456-7890-5678-012345678901
                    aksResourceId: /subscriptions/subscriptionId1/resourcegroups/resourceGroup1/providers/Microsoft.ContainerService/managedClusters/cluster1
                    prURL: 'https://github.com/owner1/repo1/pull/6567'
                    pullNumber: 6567
                    prStatus: merged
                    lastWorkflowRun:
                      succeeded: true
                      workflowRunURL: 'https://github.com/User/repo1/actions/runs/1820640230'
                      lastRunAt: '2019-01-01T12:34:56.000Z'
                    authStatus: Authorized
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/generatePreviewArtifacts':
    post:
      tags:
        - Artifacts
      operationId: GeneratePreviewArtifacts
      summary: Generate preview dockerfile and manifests.
      parameters:
        - $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/parameters/0'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1workflows/get/parameters/1'
        - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.DevHub~1locations~1%7Blocation%7D~1githuboauth/get/parameters/2'
        - name: parameters
          required: false
          in: body
          schema:
            $ref: '#/definitions/ArtifactGenerationProperties'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GeneratePreviewArtifactsResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/paths/~1providers~1Microsoft.DevHub~1operations/get/responses/default/schema'
      x-ms-examples:
        Artifact Generation Properties:
          parameters:
            api-version: 2022-10-11-preview
            subscriptionId: subscriptionId1
            parameters:
              location: location1
              properties:
                generationLanguage: javascript
                languageVersion: '14'
                port: '80'
                appName: my-app
                dockerfileOutputDirectory: ./
                manifestOutputDirectory: ./
                manifestGenerationMode: enabled
                dockerfileGenerationMode: enabled
                manifestType: kube
                imageName: myimage
                namespace: my-namespace
                imageTag: latest
          responses:
            '200':
              body:
                dockerfiles/example-dockerfile: |-
                  dockerfile-content 
                   including newlines
                manifests/example-manifest-file-1: |-
                  manifest file 1 content 
                   including newlines
                manifests/example-manifest-file-2: |-
                  manifest file 2 content 
                   including newlines
definitions:
  Workflow:
    title: Workflow
    description: Resource representation of a workflow
    type: object
    allOf:
      - title: Tracked Resource
        description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
        type: object
        properties:
          tags:
            type: object
            additionalProperties:
              type: string
            x-ms-mutability:
              - read
              - create
              - update
            description: Resource tags.
          location:
            type: string
            x-ms-mutability:
              - read
              - create
            description: The geo-location where the resource lives
        required:
          - location
        allOf:
          - title: Resource
            description: Common fields that are returned in the response for all Azure Resource Manager resources
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: 'Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
              systemData:
                readOnly: true
                type: object
                description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
            x-ms-azure-resource: true
    properties:
      properties:
        description: Properties of a workflow.
        $ref: '#/definitions/WorkflowProperties'
        x-ms-client-flatten: true
  WorkflowProperties:
    type: object
    description: Workflow properties
    properties:
      githubWorkflowProfile:
        description: Profile of a github workflow.
        $ref: '#/definitions/GitHubWorkflowProfile'
        x-ms-client-flatten: true
      artifactGenerationProperties:
        $ref: '#/definitions/ArtifactGenerationProperties'
  GitHubWorkflowProfile:
    type: object
    description: GitHub Workflow Profile
    properties:
      repositoryOwner:
        type: string
        title: The owner of the repository the workflow is associated with.
        description: Repository Owner
      repositoryName:
        type: string
        title: The name of the repository the workflow is associated with.
        description: Repository Name
      branchName:
        type: string
        title: The name of the branch the workflow is associated with.
        description: Repository Branch Name
      dockerfile:
        type: string
        title: Path to Dockerfile within the repository.
        description: Path to the Dockerfile within the repository.
      dockerBuildContext:
        type: string
        title: Path to Dockerfile Build Context within the repository.
        description: Path to Dockerfile Build Context within the repository.
      deploymentProperties:
        $ref: '#/definitions/DeploymentProperties'
      namespace:
        type: string
        description: Kubernetes namespace the application is deployed to.
        title: The Kubernetes namespace the application is deployed to
      acr:
        $ref: '#/definitions/ACR'
      oidcCredentials:
        type: object
        description: The fields needed for OIDC with GitHub.
        properties:
          azureClientId:
            type: string
            description: Azure Application Client ID
          azureTenantId:
            type: string
            description: Azure Directory (tenant) ID
      aksResourceId:
        type: string
        description: The Azure Kubernetes Cluster Resource the application will be deployed to.
        title: The Azure Kubernetes Managed Cluster resource.
      prURL:
        type: string
        description: The URL to the Pull Request submitted against the users repository.
        readOnly: true
      pullNumber:
        type: integer
        format: int32
        readOnly: true
        description: The number associated with the submitted pull request.
      prStatus:
        $ref: '#/definitions/PullRequestStatus'
      lastWorkflowRun:
        $ref: '#/definitions/WorkflowRun'
      authStatus:
        $ref: '#/definitions/AuthorizationStatus'
  WorkflowListResult:
    type: object
    properties:
      value:
        type: array
        items:
          $ref: '#/definitions/Workflow'
        description: The list of workflows.
      nextLink:
        type: string
        description: The URL to the next set of workflow results.
        readOnly: true
    description: The response from List Workflows operation.
  PullRequestStatus:
    type: string
    readOnly: true
    enum:
      - unknown
      - submitted
      - merged
      - removed
    x-ms-enum:
      name: PullRequestStatus
      modelAsString: true
      values:
        - value: unknown
          description: Pull Request state unknown.
        - value: submitted
          description: Pull Request submitted to repository.
        - value: merged
          description: Pull Request merged into repository.
        - value: removed
          description: Workflow no longer found within repository.
    description: The status of the Pull Request submitted against the users repository.
  DeploymentProperties:
    type: object
    properties:
      manifestType:
        $ref: '#/definitions/ManifestType'
      kubeManifestLocations:
        type: array
        items:
          type: string
      helmChartPath:
        type: string
        description: Helm chart directory path in repository.
      helmValues:
        type: string
        description: Helm Values.yaml file location in repository.
      overrides:
        type: object
        additionalProperties:
          type: string
        title: Manifest override values.
        description: Manifest override values.
  ArtifactGenerationProperties:
    description: Properties used for generating artifacts such as Dockerfiles and manifests.
    title: Artifact Generation Properties
    type: object
    properties:
      generationLanguage:
        $ref: '#/definitions/GenerationLanguage'
      languageVersion:
        type: string
        description: The version of the language image used for execution in the generated dockerfile.
      builderVersion:
        type: string
        description: The version of the language image used for building the code in the generated dockerfile.
      port:
        type: string
        description: The port the application is exposed on.
      appName:
        type: string
        description: The name of the app.
      dockerfileOutputDirectory:
        type: string
        description: The directory to output the generated Dockerfile to.
      manifestOutputDirectory:
        type: string
        description: The directory to output the generated manifests to.
      dockerfileGenerationMode:
        $ref: '#/definitions/DockerfileGenerationMode'
      manifestGenerationMode:
        $ref: '#/definitions/ManifestGenerationMode'
      manifestType:
        $ref: '#/definitions/GenerationManifestType'
      imageName:
        type: string
        description: The name of the image to be generated.
      namespace:
        type: string
        description: The namespace to deploy the application to.
      imageTag:
        type: string
        description: The tag to apply to the generated image.
  ManifestType:
    type: string
    enum:
      - helm
      - kube
      - kustomize
    x-ms-enum:
      name: ManifestType
      modelAsString: true
      values:
        - value: helm
          description: Repositories using helm
        - value: kube
          description: Repositories using kubernetes manifests
    description: Determines the type of manifests within the repository.
  AuthorizationStatus:
    type: string
    enum:
      - Authorized
      - NotFound
      - Error
    readOnly: true
    x-ms-enum:
      name: AuthorizationStatus
      modelAsString: true
      values:
        - value: Authorized
          description: Requests authorized successfully
        - value: NotFound
          description: Requests returned NotFound response
        - value: Error
          description: Requests returned other error response
    description: Determines the authorization status of requests.
  GenerationLanguage:
    type: string
    enum:
      - clojure
      - csharp
      - erlang
      - go
      - gomodule
      - gradle
      - java
      - javascript
      - php
      - python
      - ruby
      - rust
      - swift
    x-ms-enum:
      name: GenerationLanguage
      modelAsString: true
      values:
        - value: clojure
          description: clojure language
        - value: csharp
          description: csharp language
        - value: erlang
          description: erlang language
        - value: go
          description: go language
        - value: gomodule
          description: gomodule language
        - value: gradle
          description: gradle language
        - value: java
          description: java language
        - value: javascript
          description: javascript language
        - value: php
          description: php language
        - value: python
          description: python language
        - value: ruby
          description: ruby language
        - value: rust
          description: rust language
        - value: swift
          description: swift language
    description: The programming language used.
  ManifestGenerationMode:
    type: string
    enum:
      - enabled
      - disabled
    x-ms-enum:
      name: ManifestGenerationMode
      modelAsString: true
      values:
        - value: enabled
          description: Manifests will be generated
        - value: disabled
          description: Manifests will not be generated
    description: The mode of generation to be used for generating Manifest.
  DockerfileGenerationMode:
    type: string
    enum:
      - enabled
      - disabled
    x-ms-enum:
      name: DockerfileGenerationMode
      modelAsString: true
      values:
        - value: enabled
          description: Dockerfiles will be generated
        - value: disabled
          description: Dockerfiles will not be generated
    description: The mode of generation to be used for generating Dockerfiles.
  GenerationManifestType:
    type: string
    enum:
      - helm
      - kube
    x-ms-enum:
      name: GenerationManifestType
      modelAsString: true
      values:
        - value: helm
          description: Helm manifests
        - value: kube
          description: Kubernetes manifests
    description: Determines the type of manifests to be generated.
  WorkflowRun:
    type: object
    properties:
      succeeded:
        type: boolean
        readOnly: true
        description: Describes if the workflow run succeeded.
      workflowRunURL:
        type: string
        readOnly: true
        description: URL to the run of the workflow.
      lastRunAt:
        type: string
        readOnly: true
        format: date-time
        description: The timestamp of the last workflow run.
  ACR:
    type: object
    description: Information on the azure container registry
    properties:
      acrSubscriptionId:
        type: string
        description: ACR subscription id
      acrResourceGroup:
        type: string
        description: ACR resource group
      acrRegistryName:
        type: string
        description: ACR registry
      acrRepositoryName:
        type: string
        description: ACR repository
  GeneratePreviewArtifactsResponse:
    type: object
    description: 'Dockerfile and manifest artifacts generated as a preview are returned as a map<path string,content string>'
    properties:
      path/to/file1.withExtension:
        type: string
        description: An example generated file
      path/to/file2.withExtension:
        type: string
        description: A second example file
  GitHubOAuthInfoResponse:
    type: object
    description: URL used to authorize the Developer Hub GitHub App
    properties:
      authURL:
        type: string
        description: URL for authorizing the Developer Hub GitHub App
      token:
        type: string
        description: OAuth token used to make calls to GitHub
  TagsObject:
    type: object
    properties:
      tags:
        type: object
        additionalProperties:
          type: string
    x-ms-mutability:
      - read
      - create
      - update
    description: Resource tags.
  DeleteWorkflowResponse:
    type: object
    properties:
      status:
        type: string
        description: delete status message
    description: delete response if content must be provided on delete operation
  GitHubOAuthCallRequest:
    type: object
    properties:
      redirectUrl:
        type: string
        description: 'The URL the client will redirect to on successful authentication. If empty, no redirect will occur.'
    description: GitHubOAuth request object
  GitHubOAuthResponse:
    type: object
    allOf:
      - title: Proxy Resource
        description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
        type: object
        allOf:
          - $ref: '#/definitions/Workflow/allOf/0/allOf/0'
    properties:
      properties:
        description: Properties of a workflow.
        $ref: '#/definitions/GitHubOAuthProperties'
        x-ms-client-flatten: true
    description: 'Singleton response of GitHubOAuth containing '
  GitHubOAuthProperties:
    type: object
    properties:
      username:
        type: string
        description: user making request
    description: The response from List GitHubOAuth operation.
  GitHubOAuthListResponse:
    type: object
    properties:
      value:
        type: array
        items:
          $ref: '#/definitions/GitHubOAuthResponse'
        description: Singleton list response containing one GitHubOAuthResponse response
    description: The response from List GitHubOAuth operation.
parameters:
  ManagedClusterParameter:
    name: managedClusterResource
    in: query
    required: false
    type: string
    description: The ManagedCluster resource associated with the workflows.
    x-ms-parameter-location: client
  WorkflowNameParameter:
    name: workflowName
    in: path
    required: true
    type: string
    minLength: 1
    maxLength: 63
    pattern: '^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$'
    description: The name of the workflow resource.
    x-ms-parameter-location: method
  GitHubOAuthCodeParameter:
    name: code
    in: query
    required: true
    type: string
    description: The code response from authenticating the GitHub App.
    x-ms-parameter-location: client
  GitHubOAuthStateParameter:
    name: state
    in: query
    required: true
    type: string
    description: The state response from authenticating the GitHub App.
    x-ms-parameter-location: client
